<h1>Walkers assessment form</h1>
<form [formGroup]="walkersAssessmentForm" (ngSubmit)="onSubmit(walkersAssessmentForm.value)">
    <div>
        <input formControlName="number" type="number" required/>
        <input formControlName="useLocal" type="checkbox" /> Use local
        <div *ngIf="walkersAssessmentForm.invalid && (walkersAssessmentForm.controls.number.dirty || walkersAssessmentForm.controls.number.touched)">
            <span class="error" *ngIf="walkersAssessmentForm.controls.number.errors.min || walkersAssessmentForm.controls.number.errors.max">
                Your input must be a number between 1 and 200
            </span>
            <span class="error" *ngIf="walkersAssessmentForm.controls.number.errors.isNotAWholeNumber">
                The number must not have decimals
            </span>
            <span class="error" *ngIf="walkersAssessmentForm.controls.number.errors.isNotANumber">
                Your input must be a number
            </span>
        </div>
    </div>
    <div>
        <button type="submit" [disabled]="!walkersAssessmentForm.valid">Let's count</button>
    </div>
</form>
<div>
    <ul>
        <li *ngFor="let n of pageNumbers">
            <div *ngIf="n === 'Walkers assessment'">
                <span class="walkers">Walkers </span>
                <span class="assessment" *ngIf="weekDay !== 1">assessment </span>
                <span class="assessment" *ngIf="weekDay == 1">assessment-m </span>
            </div>
            <div *ngIf="n !== 'Walkers assessment'" [ngClass]="{
                'assessment' : n === 'assessment'
            }">
            <span *ngIf="weekDay !== 1 || (n !== 'walkers' && n !== 'assessment')"> {{ n }} </span>
            <span *ngIf="weekDay === 1 && (n === 'walkers' || n === 'assessment')"> {{ n }}-m </span>
            </div>
        </li>
    </ul>
</div>
<div>
    <button type="button" *ngIf="page > 1" (click)="getPage(page - 1)">Previous page</button>
    <button type="button" *ngIf="numbers && page * 20 < numbers.length" (click)="getPage(page + 1)">Next page</button>
</div>